<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722408477068-k64js2f2h643gjii0li4ub5pvj2rjag6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722408477068-k64js2f2h643gjii0li4ub5pvj2rjag6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>722408477068-1mjk1pf3619mk5k5o6shvqfqrteakkik.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALRJvu84HTCt5F9ABCC9YEORyd9uYZqCY</string>
	<key>GCM_SENDER_ID</key>
	<string>722408477068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ntamobile.getxpattern.dev</string>
	<key>PROJECT_ID</key>
	<string>getxpattern-892e7</string>
	<key>STORAGE_BUCKET</key>
	<string>getxpattern-892e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722408477068:ios:b43cfc74bebbdcfeb706a9</string>
</dict>
</plist>